$default-font: "opensans-regular"
$header-font: "philosopher-bold"
$item-font: "opensans-bold"
$smallheader-font: "philosopher-regular"

$accent: #52FFB6
$background-color: #E7EFFF
$default-text-color: #000D53
$radius: 1rem

$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
