$default-font: "lato-regular"
$header-font: "librebaskerville-bold"
$item-font: "lato-bold"
$smallheader-font: "librebaskerville-regular"

$accent: #FF4B32
$main-color: #8DE4FF
$default-text-color: #4D4D4D
$radius: 10px

$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
